@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Styles/Shop/Shop.css")
}
<img class="hide-image-shop-mobile position-absolute" style="width: 30%; margin-left: 5%; margin-top: 26.5%;" src="~/Images/sell-text-shop.png" />
<div class="container position-relative">
    <div class="row">
        <div class="col-lg-3 mt-md-5 position-relative">
            <div class="list-group">
                <a href="#" class="list-group-item" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000"><img class="me-md-2" width="20" src="~/Images/male-hair.png" /> Haarverzorging</a>
                <a href="#" class="list-group-item" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000"><img class="me-md-2" width="20" src="~/Images/male-beard.png" /> Baardverzorging</a>
                <a href="#" class="list-group-item" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000"><img class="me-md-2" width="20" src="~/Images/razor-blade.png" /> Elektronica/Apparatuur</a>
            </div>
            <img class="hide-image-shop-mobile position-absolute" style="margin-top: 100%; margin-left: 30%;" src="~/Images/curved-arrow-shop.png" />
        </div>
        <div class="col-md-9 mt-md-4">
            <div id="carouselExampleIndicators" class="carousel slide my-md-4 border border-light" data-bs-ride="carousel" data-aos="fade-up-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active carousel-indicator-shop" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="carousel-indicator-shop" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="carousel-indicator-shop" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="http://janelsner.com/wp-content/uploads/2021/01/HeadnShoulders_3D_Product_Render_Jan_Elsner_01.jpg" alt="Barbershop Wallpapers - Top Free Barbershop Backgrounds - WallpaperAccess/>" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.henkel.com/resource/blob/1035992/0335666f94d28d8a9959da0e916583f3/data/2020-02-20-schwarzkopf-partners-with-terracycle-jpg.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.debameubelen.be/19079/19079-deba-meubelen-decoratie-rituals-the-ritual-of-sakura.jpg?width=1920&upsize=1&height=1080&far=true&bg=FFFFFF" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Vorige</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Volgende</span>
                </button>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top p-md-2" src="https://bandidoshop.nl/95-home_default/bandido-hair-gel-strong-blue-750-ml.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" style="color: black; text-decoration: none; font-size: 20px;">Bandido - hair gel strong blue 750ml</a>
                            </h4>
                            <h5 style="font-size: 17.5px;">10.99€</h5>
                            <p class="card-text" style="font-size: 15px;">Ultra powerful hair conditioner hair gel. It helps your hair to create powerful and long lasting styles. It can be easily removed by combing.</p>
                        </div>
                        <div class="card-footer">
                            <small style="color: orange;">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top p-md-2" src="https://haircheck.net/wp-content/uploads/2020/06/imageedit_1_2847273406.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" style="color: black; text-decoration: none; font-size: 20px;">Bandido - Aqua 7 wax</a>
                            </h4>
                            <h5 style="font-size: 17.5px;">34.99€</h5>
                            <p class="card-text" style="font-size: 15px;">Perfect formula for your hair to create long-lasting styles. Formula enriched with vitamins that it contains, allows you to maintain the desired shape for a long time. Your hair looks shiny and good looking.</p>
                        </div>
                        <div class="card-footer">
                            <small style="color: orange;">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top p-md-2" src="https://bandido.nl/wp-content/uploads/2021/02/shavinggelRED-kopyasi-600x800-1.png" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" style="color: black; text-decoration: none; font-size: 20px;">Bandido - Shaving gel red 1000ml</a>
                            </h4>
                            <h5 style="font-size: 17.5px;">44.99€</h5>
                            <p class="card-text" style="font-size: 15px;">With moisturizing effect and for skin types. This product will soften your beard before shaving. After you applied the gel in the beard by masage.</p>
                        </div>
                        <div class="card-footer">
                            <small style="color: orange;">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10%;"></div>
        </div>
    </div>
</div>