@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/*Theme styling*/
.btn-theme {
    background-color: black !important;
    color: white !important;
    font-family: 'Lora', serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
}

html, body {
    height: 100%;
}


/*Navbar content*/
.nav-item {
    font-family: 'Lora', serif;
}

.navbar {
    border-bottom: 2px solid #000;
}

.form-control, .btn-search {
    font-family: 'Lora', serif;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0,0,0,.9);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.btn-search:active {
    color: #fff;
    border-color: #000;
}

.btn-search:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-search {
    background-color: #000;
    border-color: #000;
}

    .btn-search:focus {
        box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 50%);
        border-color: #000;
    }

    .btn-search:active:focus {
        box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 50);
    }

#btn-shopping-cart, #btn-user-profile {
    border-radius: 20px;
    background-color: #000;
    border-color: #000;
}

#btn-user-profile, #btn-shopping-cart, .btn-search {
    transition: transform .2s !important;
}

    #btn-user-profile:hover, #btn-shopping-cart:hover, .btn-search:hover {
        transform: scale(1.1) !important;
    }

/*Sections*/

/*Section image slider + cards (one)*/
.row-section, .row-section-two {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.card-wrapper {
    padding: 1rem;
    background: linear-gradient(to right, black, gray);
    padding: 3px;
}

.sec-one-card {
    background: #FFFFFF;
    padding: 2rem;
}

.card-head-title {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
}

.carousel-image {
    border-radius: 5px;
}

.sec-img {
    box-sizing: border-box;
    width: 100%;
    margin-left: 5%;
}

/*Section servicesbox info (two)*/
.sec-servicesbox-info, .sec-pricelist {
    padding: 50px;
}

.container-section-two {
    background: rgb(164,164,171);
    background: radial-gradient(circle, rgba(164,164,171,1) 40%, rgba(0,0,0,1) 100%);
    height: auto;
    border-radius: 3px;
}

.centering {
    height: 100%;
    width: 100%;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partial-border {
    width: 35%;
    padding: 25px;
    background: linear-gradient(white, white) bottom left / 150px 2px, linear-gradient(white, white) bottom left / 2px 100px, linear-gradient(white, white) top right / 150px 2px, linear-gradient(white, white) top right / 2px 100px;
    background-repeat: no-repeat;
}

.head-title-servicesbox {
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    text-align: center;
}

.body-servicesbox {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Section pricelist (three)*/
.container-section-three {
    background: rgb(164,164,171);
    background: linear-gradient(70deg, rgba(164,164,171,1) 30%, rgba(0,0,0,1) 100%);
    height: auto;
    border-radius: 3px;
}

.sec-pricelist {
    color: #FFF;
}

/*Section information (four)*/
.container-section-four {
    height: auto;
    border-radius: 3px;
    margin-bottom: 5%;
}

/*Footer content*/
.footer-59391 {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(164,164,171,1) 100%);
    font-family: "Poppins", sans-serif;
    padding: 4rem 0;
}

.footer-59391 .site-logo {
        color: #000;
}

.footer-59391 .site-logo a {
            font-size: 30px;
            color: #fff;
            font-weight: 900;
}

.footer-59391 .social-icons li {
        display: inline-block;
}

.footer-59391 .social-icons li a {
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
}


.footer-59391 .social-icons li a.in {
                background: #c31574;
}

.footer-59391 .social-icons li a.fb {
                background: #3b579b;
}


.footer-59391 .social-icons li a span {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                color: white;
}

    .footer-59391 .social-icons li a:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .footer-59391 .nav-links li {
        display: inline-block;
    }

        .footer-59391 .nav-links li a {
            font-size: 16px;
            color: #fff;
            padding: 10px;
            font-family: 'Roboto Condensed', sans-serif;
        }

@media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-left li:first-child a {
        padding-left: 0;
    }
}

.footer-59391 .nav-links.nav-right li:last-child a {
    padding-right: 0;
}

@media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-right li:first-child a {
        padding-left: 0;
    }
}

.footer-59391 .copyright {
    border-top: 1px solid #fff;
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

@media (min-width: 768px) {
    .text-md-right {
        text-align: right !important;
    }
}

@media only screen and (max-width: 768px) {
    .img-responsive {
        margin-top: 20px;
    }
}
