@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Styles/Appointment/Appointment.css")
}

<div class="container-fluid banner3">
    <div class="py-5 banner" style="background-image: url(https://www.wallpapertip.com/wmimgs/95-956819_barber.jpg);">
        <div class="container" data-aos="zoom-in">
            <div class="row w-100 d-flex justify-content-center mt-md-5">
                <div class="col-md-7 col-lg-5">
                    <h3 class="my-3 text-white font-weight-medium text-uppercase text-center">Reserveer nu</h3>
                    @Html.Partial("~/Views/Appointment/Create.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
