<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-family: 'Teko', sans-serif; font-size: 28px;" id="staticBackdropLabel">Winkelkar <i class="fas fa-shopping-cart"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mb-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col"> </th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Rating</th>
                                            <th scope="col" class="text-center">Hoeveelheid</th>
                                            <th scope="col" class="text-right">Prijs</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                            <td>Product Name Dada</td>
                                            <td><i class="fas fa-star" style="color: orange;"></i> (5)</td>
                                            <td style="text-align: center; vertical-align: middle"><input class="form-control w-25" style="display: inline-block" type="text" value="1" /></td>
                                            <td class="text-right">124,90 €</td>
                                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                                        </tr>
                                        <tr>
                                            <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                            <td>Product Name Toto</td>
                                            <td><i class="fas fa-star" style="color: orange;"></i> (4.7)</td>
                                            <td style="text-align: center; vertical-align: middle"><input class="form-control w-25" style="display: inline-block" type="text" value="1" /></td>
                                            <td class="text-right">33,90 €</td>
                                            <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Tussentotaal:</td>
                                            <td class="text-right">255,90 €</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>Verzendkosten:</td>
                                            <td class="text-right">+6,90 €</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong>Totaal:</strong></td>
                                            <td class="text-right"><strong>346,90 €</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="row mt-md-3">
                                <div class="col-sm-12  col-md-6">
                                    <button class="btn btn-outline-dark">Continue Shopping</button>
                                </div>
                                <div class="col-sm-12 col-md-6 text-right" style="display: flex; justify-content: flex-end;">
                                    <button class="btn btn-success">Checkout <i class="far fa-thumbs-up"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

