<nav class="navbar navbar-expand-lg navbar-light second-nav" style="z-index: 0;" data-aos="fade-down">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex" id="navbarNavDropdown">
            <ul class="navbar-nav" style="z-index: 0;">
                <li class="nav-item dropdown nav-item-second dropend" data-aos="fade-down">
                    <a class="nav-link dropdown-toggle" style="color: black;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categoriëen
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#"> Verzorging &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="#"><img class="me-md-1" width="17" src="~/Images/male-hair.png" /> Haar</a></li>
                                <li><a class="dropdown-item" href="#"><img class="me-md-1" width="17" src="~/Images/male-beard.png" /> Baard</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"> Apparatuur &raquo; </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="#"><img class="me-md-1" width="17" src="~/Images/razor.png" /> Elektronisch</a></li>
                                <li><a class="dropdown-item" href="#"><img class="me-md-1" width="17" src="~/Images/razor-blade.png" /> Niet-elektronisch</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown nav-item-second dropend ms-md-4" data-aos="fade-down">
                    <a class="nav-link dropdown-toggle" style="color: black;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Aanbiedingen
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Coming soon</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>