@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead">
    <div class="container h-100" data-aos="fade-down">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Bouidi de kapper met #1 fade's in Antwerpen</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Op zoek naar een propere snit voor uw kind? Op zoek naar een nette fade kapsel voor uzelf? Dan bent u op het juiste adres bij kapper Bouidi!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Ontdek meer</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container" data-aos="fade-down">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-black mt-0">Over ons</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">
                    Het hout aan de muren, het eigenzinnige antiek en de geur van pure haarproducten versmelten tot een heerlijke cocktail.
                    In wezen is kapper Bouidi er voor mannen die de voorkeur geven aan een no-nonsense omgeving boven de salon.
                    Maar tegelijkertijd verwelkomen we ook mooie en modieuze kinderen met open armen voor een professioneel kapsel.
                    Kom binnen, maak het uzelf gemakkelijk en laat u overweldigen door de magie van onze kappers.
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Bekijk services</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container" data-aos="fade-down">
        <h2 class="text-center mt-0" >Services</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center" data-aos="zoom-in">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Kwaliteit #1</h3>
                    <p class="text-muted mb-0">Kwaliteit leveren aan de klant staat bij kapper Bouidi centraal!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="zoom-in">
                <div class="mt-5">
                    <i class="fas fa-4x fa-calendar-check text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Afspraak inplannen</h3>
                    <p class="text-muted mb-0">Gemakkelijk en snel een afspraak inplannen is mogelijk bij kapper Bouidi.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="zoom-in">
                <div class="mt-5">
                    <i class="fas fa-4x fa-sms text-primary mb-4"></i>
                    <h3 class="h4 mb-2">24/7 service</h3>
                    <p class="text-muted mb-0">Bij kapper bouidi kan u <u>altijd</u> terecht voor allerlei vragen omtrent kapsels, producten, etc.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="zoom-in">
                <div class="mt-5">
                    <i class="fas fa-4x fa-money-check-alt text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Voordelig in prijs</h3>
                    <p class="text-muted mb-0">Bij kapper Bouidi letten we ook op de portemonnee van onze klanten. Daarom leveren we kwaliteit aan een lage prijs!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action-->
<section class="page-section bg-dark text-white" id="portfolio">
    <div class="container text-center" data-aos="fade-down">
        <h2 class="mb-4">Zin in een knipbeurt?</h2>
        <a class="btn btn-light btn-xl" href="/Appointment/Index">Boek nu <img width="20" src="~/Images/razor(1).png" /></a>
    </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container" data-aos="fade-down">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Zin in een nieuw fris kapsel voor uzelf of voor uw kind? Geef ons een belletje of verzend ons een email en we nemen spoedig contact met u op.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+32 (486) 874-9867</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                @Html.ActionLink("Contacteer ons", "Index", "Contact", null, new { @class = "d-block" })
            </div>
        </div>
    </div>
</section>
