@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/*Theme styling*/
.btn-theme {
    background-color: black !important;
    color: white !important;
    font-family: 'Lora', serif;
}

html {
    min-height: 100%;
}

body {
    overflow-x: hidden;
    position: relative;
}

.container-color-body {
    background: rgb(0,0,0);
    background: linear-gradient(197deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 45%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

html, body {
    height: 100%;
}

/*Back to top button*/
.scrollToTopBtn {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    line-height: 48px;
    width: 48px;
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 30px;
    right: 30px;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 1;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all .5s ease
}

.showBtn {
    opacity: 1;
    transform: translateY(0)
}

/*Navbar content*/
.container-navbar {
    position: relative;
}

.container-navbar:after {
    position: absolute;
    opacity: 0;
}

.navbar {
    border-bottom: 2px solid #000;
    position: relative;
    z-index: 1;
}

.navbar-link, .form-control, .btn-search {
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(0,0,0,.9);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.btn-search:active {
    color: #fff;
    border-color: #000;
}

.btn-search:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-search {
    background-color: #000;
    border-color: #000;
}

.btn-search:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 50%);
    border-color: #000;
}

.btn-search:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 50);
}

#btn-shopping-cart, #btn-user-profile {
    border-radius: 20px;
    background-color: #000;
    border-color: #000;
}

#btn-user-profile, #btn-shopping-cart, .btn-search {
    transition: transform .2s !important;
}

#btn-user-profile:hover, #btn-shopping-cart:hover, .btn-search:hover {
    transform: scale(1.1) !important;
}

/*Sections*/
/*Section image slider + cards (one)*/
.row-section, .row-section-two {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.card-wrapper {
    padding: 1rem;
    background: linear-gradient(to right, black, gray);
    padding: 3px;
}

.sec-one-card {
    background: #FFFFFF;
    padding: 2rem;
}

.card-head-title {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
}

.carousel-image {
    border: 1px solid black;
}

.sec-img {
    box-sizing: border-box;
    width: 100%;
    margin-left: 5%;
}

/*Section servicesbox info (two)*/
.sec-servicesbox-info, .sec-pricelist {
    padding: 50px;
}

.container-section-two {
    background: rgb(164,164,171);
    background: radial-gradient(circle, rgba(164,164,171,1) 40%, rgba(0,0,0,1) 100%);
    height: auto;
    border-radius: 3px;
}

.centering {
    height: 100%;
    width: 100%;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partial-border {
    width: 35%;
    padding: 25px;
    background: linear-gradient(white, white) bottom left / 150px 2px, linear-gradient(white, white) bottom left / 2px 100px, linear-gradient(white, white) top right / 150px 2px, linear-gradient(white, white) top right / 2px 100px;
    background-repeat: no-repeat;
}

.head-title-servicesbox {
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    text-align: center;
}

.body-servicesbox {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Section pricelist (three)*/
.container-section-three {
    background: rgb(164,164,171);
    background: linear-gradient(70deg, rgba(164,164,171,1) 30%, rgba(0,0,0,1) 100%);
    height: auto;
    border-radius: 3px;
}

.sec-pricelist {
    color: #FFF;
}

/*Section information (four)*/
.container-section-four {
    height: auto;
    border-radius: 3px;
    margin-bottom: 5%;
}

/*Footer content*/
.footer {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(164,164,171,1) 100%);
    font-family: "Poppins", sans-serif;
    padding: 40px;
}

/*Modal shoppingcart*/
.table-shoppingcart {
    font-family: 'Roboto Condensed', sans-serif;
}


/*Media queries*/
/*Footer*/
@media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-left li:first-child a {
        padding-left: 0;
    }
}

@media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-right li:first-child a {
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .text-md-right {
        text-align: right !important;
    }
}

@media only screen and (max-width: 768px) {
    .img-responsive {
        margin-top: 20px;
    }
}
